<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Nabla&family=Sacramento&display=swap"
    rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
  <div class="container">
    <header class="navContainer">
      <nav class="navbar">
        <a class="nav-brand">Quizzes</a>

        <ul class="nav-menu">
          <li class="nav-item"><a class="nav-link active" href="../home/{{ user.id }}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="../profile/{{ user.id }}">My Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="../new-quiz/{{ user.id }}">Create New Quiz</a></li>
          <li class="nav-item"><a class="nav-link" href="../start-quiz/{{ user.id }}">Start Quiz</a></li>
          <li class="nav-item"><a class="nav-link" href="/">Sign out</a></li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <br>
    <p id="welcome" class="heading">Hello, {{ user.username }} ..</p>
    <br>

    <section class="main">
      <img src="{% static 'assets/main.jpg' %}" class="home-img" />
      <section class="home-main">
        <h1>Interactive Quiz</h1>
        <br />
        <p>
          The Interactive Quiz Application is designed to provide an engaging and
          dynamic learning experience for users.
          <br />
          The application allows users to participate in a wide range of quizzes,
          fostering a deeper understanding of various subjects while making learning enjoyable.
          Users can track their progress, revisit quizzes, and challenge themselves with new questions.
          <br />
          <br />
          The application also supports personalized quiz creation, enabling users
          to craft quizzes tailored to their learning needs or interests.
          <br />
          Overall, the Interactive Quiz Application serves as a versatile tool for both
          education and entertainment, empowering users to expand their knowledge and skills
          through interactive and customizable quizzes.
        </p>
      </section>
      <br />
    </section>

    <div class="features">
      <div class="feature" id="feature-1">
        <a href="#">
          <img src="../static/assets/feature1-image.jpg" />
          <h2 class="btn">Take Online Quiz</h2>
        </a>
      </div>
      <div class="feature" id="feature-2">
        <a href="#">
          <img src="../static/assets/feature2-image.jpg" />
          <h2 class="btn">Create Your Own Quiz</h2>
        </a>
      </div>
      <div class="feature" id="feature-3">
        <a href="#">
          <img src="../static/assets/feature3-image.jpg" />
          <h2 class="btn">Others Can Take The Quiz You Created</h2>
        </a>
      </div>
      <div class="feature" id="feature-4">
        <a href="#">
          <img src="../static/assets/feature4-image.jpg" />
          <h2 class="btn">See All Your Created and Taken Quizzes</h2>
        </a>
      </div>
    </div>

    <footer>
      <h3>Produced By</h3>
      <ul>
        <li>Sahar Mohamed</li>
      </ul>
    </footer>

    <script src="{% static 'js/navbar.js' %}"></script>
  </div>
</body>
</html>