<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Log in</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Nabla&family=Sacramento&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  {% load static %}
  <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles.css' %}">
</head>

<body>
  {% block content %}
  <header class="start-header">
    <h1>Login</h1>
    <a href="/" class="home-icon"><i class="fas fa-home"></i></a>
  </header>

  {% if error %}
  <br>
  <p class="error">{{ error }}</p>
  {% endif %}
<!--  {% if messages %}-->
<!--  <ul class="messages">-->
<!--    {% for message in messages %}-->
<!--      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
<!--    {% endfor %}-->
<!--  </ul>-->
<!--  {% endif %}-->
  <form method="POST" class="user-data-form">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <label>Email</label>
    <br>
    <input type="text" name="email" placeholder="email" required>
    <br>
    <label>Password</label>
    <br>
    <div class="password-wrapper">
      <input type="password" name="password" autocomplete="current-password" placeholder="password" required="" id="id_password">
      <i class="far fa-eye" id="togglePassword" style="cursor: pointer;"></i>
    </div>
    <!-- <input type="password" name="password" required> -->
    <br>
    <input type="submit" value="Log in">
  </form>

  Don't have an account yet?
  <a href="/signup/">Sign up</a>
  {% endblock %}
  {% load static %}
  <script src="{% static 'js/login.js' %}"></script>

</body>

</html>