<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Starting new quiz</title>
  <link
  href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Nabla&family=Sacramento&display=swap"
  rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>

<body>

  {% block content %}
    <header class="navContainer">
      <nav class="navbar">
        <a class="nav-brand">Quizzes</a>

        <ul class="nav-menu">
          <li class="nav-item"><a class="nav-link" href="../home/{{ user.id }}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="../profile/{{ user.id }}">My Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="../new-quiz/{{ user.id }}">Create New Quiz</a></li>
          <li class="nav-item"><a class="nav-link active" href="../start-quiz/{{ user.id }}">Start Quiz</a></li>
          <li class="nav-item"><a class="nav-link" href="/">Sign out</a></li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <br>
    <p class="heading">Starting a new quiz</p>
    <br>

    {% if error %}
    <br>
    <p class="error">{{ error }}</p>
    {% endif %}

    {% if message %}
    <br>
    <p class="successful">{{ message }}</p>
    {% endif %}

    <form method="POST" class="user-data-form">
      {% csrf_token %}
<!--      {{ form.as_p }}-->

      <label for="quiz_id">Enter the ID of the quiz you want to take</label>
      <br><br>
      <input type="text" name="quiz_id" placeholder="the quiz ID" id="quiz_id" required />

      <br><br>
      <input type="submit" value="Start Quiz" />
    </form>

  {% endblock %}

  {% load static %}
  <script src="{% static 'js/navbar.js' %}"></script>
<!--  <script src="{% static 'js/create_quiz.js' %}"></script>-->
</body>

</html>